.btn-colour1 {
    background-color: #d1e5ea
}

.btn-colour1:hover {
    background-color: #bad7e0
}

.btn-colour2 {
    background-color: #eee
}

.btn-colour2:hover {
    background-color: #d7d7d7
}

.btn-colour3 {
    border: 1px solid #197b96
}

.btn-colour3:hover {
    background-color: #eee
}

.btn-colour4 {
    border: 1px solid #777
}

.btn-colour4:hover {
    background-color: #eee
}

.btn-colour5 {
    background-color: #197b96;
    color: white
}

.btn-colour5 * {
    color: white
}

.btn-colour5:hover {
    background-color: #5ea3b5
}
