.btn-brand-secondary {
    color: $so-text__primary !important;
    background-color: $so-brand__secondary;
    text-decoration: none !important;
    border-color: transparent;
    border-radius: 0;
    font-weight: 400;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;

    &:hover {
        background-color: $so-brand__secondary__300;
    }

}

.btn-brand-secondary__outlined {
    color: $so-text__primary !important;
    border-color: $so-brand__secondary;
    border-radius: 0;
    font-weight: 400;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;

    &:hover {
        background-color: $so-brand__secondary__300;
    }
    text-decoration: none !important;
}


.btn-brand-primary {
    color: $so-text__primary !important;
    background-color: $so-brand__primary;
    border-color: transparent;
    border-radius: 0;
    font-weight: 400;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;   
    text-decoration: none !important;
    &:hover {
        background-color: $so-brand__primary__light;
    }
}