.btn-accent {
    color: $so-brand-black;
    background-color: $so-brand-emerald_green;
    border-color: transparent;
    color: $so-brand-black !important;
    border-radius: 0;
    font-weight: 700;
    -webkit-transition: background-color .3s;
    transition: background-color .3s
}

.btn-accent.focus,
.btn-accent:focus,
.btn-accent:hover {
    color: #383838;
    background-color:$so-brand-sky_blue;
    border-color: transparent
}

.btn-accent.active,
.btn-accent:active,
.open>.dropdown-toggle.btn-accent {
    color: #383838;
    background-color: #ffb300;
    background-image: none;
    border-color: transparent
}

.btn-accent.active.focus,
.btn-accent.active:focus,
.btn-accent.active:hover,
.btn-accent:active.focus,
.btn-accent:active:focus,
.btn-accent:active:hover,
.open>.dropdown-toggle.btn-accent.focus,
.open>.dropdown-toggle.btn-accent:focus,
.open>.dropdown-toggle.btn-accent:hover {
    color: #383838;
    background-color: #db9a00;
    border-color: transparent
}

.btn-accent.disabled.focus,
.btn-accent.disabled:focus,
.btn-accent.disabled:hover,
.btn-accent[disabled].focus,
.btn-accent[disabled]:focus,
.btn-accent[disabled]:hover,
fieldset[disabled] .btn-accent.focus,
fieldset[disabled] .btn-accent:focus,
fieldset[disabled] .btn-accent:hover {
    background-color: #ffc233;
    border-color: transparent
}

.btn-accent .badge {
    color: #ffc233;
    background-color: #383838
}

.btn-accent:not(.btn-link) {
    text-decoration: none
}
