// Student opportunity brand colours
/* please don't override component defaults with them */

/* primary brand colours  */
.so-blue { 
    color: $so-brand__primary; 
}
.so-blue__light {
    color: $so-brand__primary__light;
}
.so-blue__dark {
    color: $so-brand__primary__dark;
} 
.so-blue__900 {
    color: $so-brand__primary__900;
} 
.so-blue__50 {
    color: $so-brand__primary__50;
}

/* primary background highlights */ 

.so-bd-highlight-blue {
    background-color: $so-brand__primary;
    border: 1px solid $so-brand__primary;
}

.so-bd-highlight-blue__light {
    background-color: $so-brand__primary__light;
    border: 1px solid $so-brand__primary__light;
}



/* secondary brand colours  */
.so-green {
    color: $so-brand__secondary;
}

.so-green__light {
    color: $so-brand__secondary__light;
}

.so-green__dark {
    color: $so-brand__secondary__dark;
}

.so-green__300 {
    color: $so-brand__secondary__300
}

.so-bd-highlight-green {
    background-color: $so-brand__secondary;
    border: 1px solid $so-brand__secondary__dark;
}

.so-bd-highlight-green__light {
    background-color: $so-brand__secondary__light;
    border: 1px solid $so-brand__secondary__dark;
}


/* pack7.css colour over rides */

.brand-bg {
    background: $so-brand__secondary!important;
    color: black!important;
}

.brand-text {
    color: $so-brand__primary!important;
}

.brand-text a,
.brand-text a:link,
.brand-text a:visited {
    color: $so-brand__primary !important
}