.figure {
    display: inline-block;
}

.figure-img {
    margin-bottom: 0.5rem;
    line-height: 1;
}

.figure-caption {
    font-size: 90%;
    color: #6c757d;
}

/* warning text */

.so-warning-text {
    font-weight: 700;
    font-size: 19px;
    color: #0b0c0c;
    margin-bottom: 20px;
    margin-left: 20px;
}

.so-warning-icon {
    margin-right: 10px;
}


