.id7-search .fa {
    color: #197b96;
    color: rgba(25, 123, 150, 0.5);
    -webkit-transition: color .15s linear;
    transition: color .15s linear
}

.id7-search .form-control:hover+.fa,
.id7-search .twitter-typeahead:hover+.fa,
.id7-search .fa:hover {
    color: #197b96
}

.id7-search .twitter-typeahead .tt-suggestion:hover,
.id7-search .twitter-typeahead .tt-suggestion:focus,
.id7-search .twitter-typeahead .tt-suggestion.tt-cursor {
    cursor: pointer;
    background: #197b96;
    color: white
}

.form-control:focus {
    border-color: #197b96;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(25, 123, 150, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(25, 123, 150, 0.6)
}