h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $so-text__primary;
}

a,
a:link,
a:visited {
  color: $so-brand__primary__900;
}

a:hover,
a:focus,
a:active {
  color: $so-brand__primary__900;
}

a:hover .new-window-link,
a:hover .insecure-link {
  color: $so-brand__primary__900;
}

a,
a:link,
a:visited {
  -webkit-text-decoration-color: $so-brand__primary__900;
  text-decoration-color: $so-brand__primary__900;
}

a:hover,
a:focus,
a:active {
  -webkit-text-decoration-color: $so-brand__primary__900;
  text-decoration-color: $so-brand__primary__900;
}

/* bulleted lists */ 

.so-list--bullet ul {
  padding-left: 20px;
  list-style-type: circle!important
}

.so-list--number ol {
  padding-left: 20px;
  list-style-type: decimal
}

.so-list--bullet>li,
.so-list--number>li{
  margin-bottom: 0
}

@media (min-width: 40.0625em) {

  .so-list--bullet>li,
  .so-list--number>li{
    margin-bottom: 5px
  }
}

.id7-main-content {
  font-size: 16px
}

@media (min-width: 768px) {
  .id7-main-content {
    font-size: 18px
  }
}

.id7-main-content p {
  margin: 0 0 14.5px
}

.id7-main-content .lead {
  font-size: 18px
}

@media (min-width: 768px) {
  .id7-main-content .lead {
    font-size: 21px
  }
}

.id7-page-title > h1 {
  font-size: 28px;
  font-weight: 400;
}



h2 {
   font-size:26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}


.so-text__link { 
  font-weight: 600;
}

.so-heading__heavy {
  font-weight: 600;
}

/* extends base class in pack7.css */

blockquote {
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: 30px;
      margin-right: 20px;
      border-left: 10px solid $so-brand__secondary;
}


.so-body-l,
.so-body-lead {
  color: $so-text__primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 20px
}

@media print {
  .so-body-l,
  .so-body-lead {
    color: $so-text__primary;
  }
}

@media print {

  .so-body-l,
  .so-lead {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {

  .so-body-l,
  .so-body-lead {
    font-size: 23px;
  }
}

@media print {

  .so-body-l,
  .so-body-lead {
    font-size: 18pt;
    line-height: 1.15
  }
}

@media (min-width: 40.0625em) {

  .so-body-l,
  .so-body-lead {
    margin-bottom: 30px
  }
}


