h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $so-text__primary;
}

a,
a:link,
a:visited {
  color: #197b96
}

a:hover,
a:focus,
a:active {
  color: #0a333f
}

a:hover .new-window-link,
a:hover .insecure-link {
  color: #0a333f
}

a,
a:link,
a:visited {
  -webkit-text-decoration-color: #5ea3b5;
  text-decoration-color: #5ea3b5
}

a:hover,
a:focus,
a:active {
  -webkit-text-decoration-color: #0a333f;
  text-decoration-color: #0a333f
}


.id7-main-content {
  font-size: 16px
}

@media (min-width: 768px) {
  .id7-main-content {
    font-size: 18px
  }
}

.id7-main-content p {
  margin: 0 0 14.5px
}

.id7-main-content .lead {
  font-size: 18px
}

@media (min-width: 768px) {
  .id7-main-content .lead {
    font-size: 21px
  }
}

.h2,
h2 {
  font-size: 31px
}

.h3,
h3 {
  font-size: 23px
}

@media (min-width: 768px) {

  h2 {
    font-size: 28px;
    a,
    a:link,
    a:visited {
      color: $so-text__primary;
      text-decoration: none;
    }
  }

  h3 {
    font-size: 22px
  }
}


.so-text__bold { font-weight: 600}