$so-text__primary: #0b0c0c;
$so-text__secondary: #6f777b;

$so-brand__primary: #5698D2; 
$so-brand__primary__light: #9DCAE9; 
$so-brand__primary__dark: #3B69A1; 
$so-brand__primary__900: #2E4C81; 
$so-brand__primary__50: #E6F2F9;

$so-brand__secondary: #7eccb7;
$so-brand__secondary__light: #b0ffe9;
$so-brand__secondary__dark: #4d9b87;
$so-brand__secondary__300: #4DB79B;
