$so-text__primary: #0b0c0c;
$so-text__secondary: #6f777b;

/* primary */
// see MD generated color palette

$so-brand__primary: #5698D2; // MD 500
$so-brand__primary__light: #9DCAE9; //MD 200
$so-brand__primary__dark: #3B69A1; // MD 800
$so-brand__primary__900: #2E4C81; // MD 900
$so-brand__primary__50: #E6F2F9; // MD 50


/* secondary */
$so-brand__secondary: #7eccb7;
$so-brand__secondary__light: #b0ffe9;
$so-brand__secondary__dark: #4d9b87;
$so-brand__secondary__300: #4DB79B;




