{% extends 'content-75_25-styles.njk' %}

<!-- level two nav -->
{% block navLevelTwo %}
<nav class="navbar navbar-secondary" role="navigation">
  <ul class="nav navbar-nav">
    <li class="nav-breadcrumb first"> <a href="#">Styles</a></li>
    <li class="active nav-breadcrumb second last ">
      <a>Boxes</a></li>
  </ul>
</nav>
{% endblock %}
<!-- end level two nav -->


{% block pagetitle %}
Boxes
{% endblock %}

{% block column_1_content %}

{% endblock %}

{% block column_2_content %}

<p>Use boxes to group content, create layouts or highlight content.</p>


<div class="row equal-height-md">
  <div class="col-md-4">
    <section class="boxstyle_ box1">

      <h2><a href="#">Box Style 1</a></h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. </p>


      <p class="so-text__link"><a href="/styles/style.html">Browse styles</a></p>



    </section>
  </div>

  <div class="col-md-4">
    <section class="boxstyle_ box2">


      <h2><a href="/components/buttons.html">Box Style 2</a></h2>

      <p>Save time with reusable, accessible components for forms, navigation, panels, tables and more..</p>

      <p class="so-text__link"><a href="/components/buttons.html">Browse components</a></p>
    </section>
  </div>

  <div class="col-md-4">
    <section class="boxstyle_ box3">

      <h2><a href="/patterns/">Box Style 3</a></h2>

      <p>Help users complete common tasks like entering names and addresses, filling in forms and creating accounts.</p>

      <a href="#" class="btn btn-lg btn-brand-secondary">Apply Now</a>

    </section>
  </div>

</div>


<div class="row equal-height-md">
  <div class="col-md-4">
    <section class="boxstyle_ box4">

      <h2><a href="#">Box Style 4</a></h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. </p>


      <p class="so-text__link"><a href="/styles/style.html">Browse styles</a></p>



    </section>
  </div>

  <div class="col-md-4">
    <section class="boxstyle_ box5">


      <h2><a href="/components/buttons.html">Box Style 5</a></h2>

      <p>Save time with reusable, accessible components for forms, navigation, panels, tables and more..</p>

      <p class="so-text__link"><a href="/components/buttons.html">Browse components</a></p>
    </section>
  </div>

  <div class="col-md-4">
    <section class="boxstyle_ box6">

      <h2><a href="/patterns/">Box Style 6</a></h2>

      <p>Help users complete common tasks like entering names and addresses, filling in forms and creating accounts.</p>
      <a href="#" class="btn btn-brand-secondary btn-lg">
        <!-- below button text shown on tablet and desktop -->
        <span class="hidden-xs">Get Started</span>
        <!-- below button text shown only on mobile inlined -->
        <span class="visible-xs-inline">Get Started</span>
        <i class="fal fa-chevron-right"></i>
      </a>
    </section>
  </div>

</div>

<hr>

<!-- snippet start -->
<pre id="button-2" class="line-numbers language-markup snippet">
<code>
 <script type="prism-html-markup">
<section class="boxstyle_ box1">
  <h2><a href="#">Box Style 1</a></h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
  ut labore et dolore magna aliqua. </p>
  <p class="so-text__link"><a href="/styles/style.html">Browse styles</a></p>
</section>
</script>
</code>
</pre>
<button class="btn btn-default" data-clipboard-target="#button-2">Copy snippet <i class="fal fa-copy"></i></button>

{% endblock %}