{% extends 'content-75_25-styles.njk' %}

<!-- level two nav -->
{% block navLevelTwo %}
<nav class="navbar navbar-secondary" role="navigation">
  <ul class="nav navbar-nav">
    <li class="nav-breadcrumb first" > <a
        href="#"> Styles </a></li>
    <li class="active nav-breadcrumb second last " > 
    <a>Colours </a></li>
  </ul>
</nav>
{% endblock %}
<!-- end level two nav -->


{% block pagetitle %}
Colours
{% endblock %}

{% block column_1_content %}

{% endblock %}

{% block column_2_content %}

<p>
Always use the Student Opportunity colour palette. This is built into you site using site.css. Please refrain from overriding it with custom css on the page. Ideally you should <strong>not need any custom css </strong> on your SiteBuilder pages.
</p>

<hr>

<h3>Student Opportunity Colour Theme</h3>


<img src="/static-files/images/design-system/primary-secondary.png" alt="">


<hr>

<h5>Primary color</h5>

<p>A primary color is the color displayed most frequently across your websites screens and components. </p>

<h6>Dark and light primary variants</h6>
<p>
You can make a color theme for your website using your primary color, as well as dark and light primary variants.</p>

<img src="/static-files/images/design-system/example-interface.png" alt="" style="float: right; padding:20px">

<h6>Distinguish UI elements</h6>
<p>
To create contrast between UI elements, you can use light or dark variants of your primary color on each elements. You can also use variants to distinguish elements within a component, such different variants used on a floating action button container, and the icon within it.</p>

<hr>

<h5>Secondary color</h5>

<p>The secondary color provides more ways to accent and distinguish the brand</p>


<p>Secondary colors are best for:</p>
<ul>
<li> Buttons</li>
<li> Selection controls, like sliders and switches</li>
<li> Highlighting selected text</li>
<li> Progress bars</li>
<li> Links and headlines</li>
</ul>

<h5>Dark and light secondary variants</h5>

<p>Just like the primary color, your secondary color can have dark and light variants. You can make a color theme by using your primary color, secondary color, and dark and light variants of each color.</p>

<hr>

<h3>Colour contrast</h3>

<p>You must make sure that the contrast ratio of text and interactive elements in your service meets level AA of the Web Content Accessibility Guidelines (WCAG 2.1).</p>

<p>Large text is defined as 14 point (typically 18.66px) and bold or larger, or 18 point (typically 24px) or larger. Normal text is below 18 point or below 14 point and bold.</p>

<img src="/static-files/images/design-system/accessibility1.png" alt="">
<img src="/static-files/images/design-system/accessibility2.png" alt="">

{% endblock %}



