{% extends 'content-75_25-styles.njk' %}
<!-- level two nav -->
{% block navLevelTwo %}
<nav class="navbar navbar-secondary" role="navigation">
  <ul class="nav navbar-nav">
    <li class="nav-breadcrumb first"> <a href="#">Styles</a></li>
    <li class="active nav-breadcrumb second last ">
      <a>Figure</a></li>
  </ul>
</nav>
{% endblock %}
<!-- end level two nav -->


{% block pagetitle %}
Figure
{% endblock %}

{% block column_1_content %}



{% endblock %}

{% block column_2_content %}

<figure class="figure">
  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(73).jpg"
    class="figure-img img-fluid z-depth-1" alt="..." style="width: 400px">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>


<!-- snippet start -->
<pre id="button-1" class="line-numbers language-markup snippet">
<code>
 <script type="prism-html-markup">

<figure class="figure">
  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(73).jpg" class="figure-img img-fluid z-depth-1"
    alt="..." style="width: 400px">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>

  </script>
</code>
</pre>
<button class="btn btn-default" data-clipboard-target="#button-1">Copy snippet <i class="fal fa-copy"></i></button>


{% endblock %}