{% extends 'content-75_25-styles.njk' %}
<!-- level two nav -->
{% block navLevelTwo %}
<nav class="navbar navbar-secondary" role="navigation">
  <ul class="nav navbar-nav">
    <li class="nav-breadcrumb first"> <a href="#">Styles</a></li>
    <li class="active nav-breadcrumb second last ">
      <a>Styles</a></li>
  </ul>
</nav>
{% endblock %}
<!-- end level two nav -->


{% block pagetitle %}
Styles
{% endblock %}


{% block column_1_content %}

{% endblock %}

<!-- page content here -->
{% block column_2_content %}


<p>Make your service look and feel like a part of Student Opportunity</p>
<p>If you are using SiteBuilder with the Student Opportunity site.css included in your build, the coded examples in this Design System will not need any additional styling.</p>
<p>If you need to apply styles manually, you should still follow conventions in this design system. For example, do not assign new meanings to <a href="/styles/colours.html">colours</a>, do not change the style of buttons or adjust the thickness of borders on form inputs.</p>

{% endblock %}