
{% extends 'content.njk' %}

{% block pagetitle %}
Styles
{% endblock %}

{% block main_content %}

<p>
Make your service look and feel like Student Opportunity.

If you need to apply styles manually, you should still follow existing conventions. For example, do not assign new meanings to colours, do not change the style of buttons or adjust the thickness of borders on form inputs.

</p>
{% endblock %}



