{% extends 'homepage.njk' %}

{% block main_content %}

<section class="hero-image">
  <picture class="embed-responsive-item">
    <source srcset="/static-files/images/banners/main-banner-so.png" media="(min-width: 1200px)">
    <img src="/static-files/images/banners/main-banner-so.png" alt="Postgraduate">
  </picture>
  <div class="callout-button">
    <h2>
      <span class="hero-image-tagline-line2">Design your website using standard styles, components and patterns</span>
      <span class="hero-image-tagline-line1">Use this design system to make your service consistent with Student
        Opportunity. Learn from the research and experience of the central team and avoid repeating work that’s already
        been done.</span>


    </h2>
    <a href="/getting-started/getting-started.html" class="btn btn-block btn-brand-primary btn-lg">
      <!-- CTA button text shown on tablet and desktop -->
      <span class="hidden-xs">Get Started</span>
      <!-- CTA button text shown only on mobile -->
      <span class="visible-xs-inline">Get Started</span>
      <i class="fal fa-chevron-right"></i>
    </a>
  </div>
</section>


<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="/styles/styles.html">Styles</a></h5>
      <p class="card-text">Make your service look like Student opportunity with guides for applying layout, typography, colour and images.</p>
    </div>
     <div class="card-footer">
       <a href="/styles/styles.html" class="btn btn-brand-secondary btn-lg">
        <span>READ MORE</span>
        <i class="fal fa-chevron-right"></i>
      </a>
    </div>
    
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="/components/components.html">Components</a></h5>
      <p class="card-text">Save time with reusable, accessible components for forms, navigation, panels, tables and more.</p>
    </div>
     <div class="card-footer">
       <a href="/components/components.html" class="btn btn-brand-secondary btn-lg">
        <span>READ MORE</span>
        <i class="fal fa-chevron-right"></i>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
       <h5 class="card-title"><a href="/patterns/patterns.html">Patterns</a></h5>
      <p class="card-text">Common layout patterns using components and styles</p>
    </div>
     <div class="card-footer">
       <a href="/patterns/patterns.html" class="btn btn-brand-secondary btn-lg">
        <span>READ MORE</span>
        <i class="fal fa-chevron-right"></i>
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="/utils/utilities.html"> Utilities </a></h5>
      <p class="card-text">CSS helpers to speed up common styling issues</p>
    </div>
     <div class="card-footer">
       <a href="/utils/utilities.html" class="btn btn-brand-secondary btn-lg">
        <span>READ MORE</span>
        <i class="fal fa-chevron-right"></i>
      </a>
    </div>
  </div>
</div>



{% endblock %}