{% extends 'homepage.njk' %}

{% block main_content %}

<section class="hero-image">
  <picture class="embed-responsive-item">
    <source srcset="/static-files/images/banners/main-banner-so.png" media="(min-width: 1200px)">
    <img
      src="/static-files/images/banners/main-banner-so.png"
      alt="Postgraduate">
  </picture>
  <div class="callout-button">
    <h2>
      <span class="hero-image-tagline-line2">Design your website using standard styles, components and patterns</span>
      <span class="hero-image-tagline-line1">Use this design system to make your service consistent with Student
        Opportunity. Learn from the research and experience of the central team and avoid repeating work that’s already
        been done.</span>


    </h2>
    <a href="#" class="btn btn-block btn-brand-secondary btn-lg">
      <!-- CTA button text shown on tablet and desktop -->
      <span class="hidden-xs">Get Started</span>
      <!-- CTA button text shown only on mobile -->
      <span class="visible-xs-inline">Get Started</span>
      <i class="fal fa-chevron-right"></i>
    </a>
  </div>
</section>

<div class="row equal-height-md">
  <div class="col-md-4">
    <section class="boxstyle_ box1">

      <h2><a href="/styles/style.html">Styles</a></h2>

      <p>Make your service look like Student opportunity with guides for applying layout, typography, colour and images.</p>

      
      <p class="so-text__bold" ><a href="/styles/style.html">Browse styles</a></p>
      


    </section>
  </div>

  <div class="col-md-4">
    <section class="boxstyle_ box1">


      <h2><a href="/components/buttons.html">Components</a></h2>

      <p>Save time with reusable, accessible components for forms, navigation, panels, tables and more..</p>

      <p class="so-text__bold" ><a href="/components/buttons.html">Browse components</a></p>
    </section>
  </div>

  <div class="col-md-4">
    <section class="boxstyle_ box1">

      <h2><a href="/patterns/">Patterns</a></h2>

      <p>Help users complete common tasks like entering names and addresses, filling in forms and creating accounts.</p>
      <p class="so-text__bold" ><a href="/styles/">Browse patterns</a></p>
    </section>
  </div>

</div>


{% endblock %}