{% extends 'content-75_25-patterns.njk' %}

<!-- level two nav -->
{% block navLevelTwo %}
<nav class="navbar navbar-secondary" role="navigation">
  <ul class="nav navbar-nav">
    <li class="nav-breadcrumb first"> <a href="#">Patterns</a></li>
    <li class="active nav-breadcrumb second last ">
      <a>Boxes with aligned buttons</a></li>
  </ul>
</nav>
{% endblock %}
<!-- end level two nav -->


{% block pagetitle %}
Boxes with aligned buttons
{% endblock %}

{% block column_1_content %}

{% endblock %}

{% block column_2_content %}

<p> Use class .box-btn-b on the box to make button elements align even with different text lengths.</p>

  <div class="row equal-height"> 
        <div class="col-md-4"> 
            <div class="boxstyle_ box5 box-btn-b">
                <h3>Taking notes effectively</h3>
                <p>Develop the skills of <strong>notetaking</strong> learn how to decide what to write and tips and ideas for taking more affective notes.</p>
                <a class="btn btn-lg btn-brand-secondary" title="Book academic study skills" href="http://www2.warwick.ac.uk/services/skills/events/notes/">
                <span>BOOK</span>
                 <i class="fal fa-chevron-right"></i>
                </a> 
            </div>
        </div>
      <div class="col-md-4">  
        <div class="boxstyle_ box5 box-btn-b">
            <h3>Speed reading</h3>
            <p>Develop your reading skills by attending this workshop. You may find this particularly helpful in your first year </p>
            <a class="btn btn-lg btn-brand-secondary" title="Book: speed reading" href="https://www2.warwick.ac.uk/services/skills/events/speedreading">
             <span>BOOK</span>
                 <i class="fal fa-chevron-right"></i>
            </a> 
        </div>
        </div>

      <div class="col-md-4">
        <div class="boxstyle_ box5 box-btn-b"> 
            <h3>Planning &amp; managing projects</h3>
            <p>Introduction to project management. Projects can include include research, academic assignments, and running events </p>
            <a class="btn btn-lg btn-brand-secondary" title="Book: Managing projects" href="https://warwick.ac.uk/services/skills/events/planning_projects">
             <span>BOOK</span>
                 <i class="fal fa-chevron-right"></i>
            </a> 
        </div>
      </div>
    </div>

<div class="so-warning-text d-flex align-items-center">
    <i class="fas fa-exclamation-circle fa-2x so-warning-icon"></i> 
    <span>This pattern is not in the current design system build. Use CSS below for now.</span>
</div>


<!-- snippet start -->
<pre id="button-1" class="line-numbers language-markup snippet">
<code>
 <script type="prism-css-markup">
.box-btn-b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box-btn-b p {
    flex-grow: 1;
}

.box-btn-b a {
    margin-top: 15px;
}
</script>
</code>
</pre>


{% endblock %}