{% extends 'content-75_25-patterns.njk' %}
<!-- level two nav -->
{% block navLevelTwo %}
<nav class="navbar navbar-secondary" role="navigation">
  <ul class="nav navbar-nav">
    <li class="nav-breadcrumb first"> <a href="#">Patterns</a></li>
    <li class="active nav-breadcrumb second last ">
      <a>Card Layouts</a></li>
  </ul>
</nav>
{% endblock %}
<!-- end level two nav -->


{% block pagetitle %}
Card Layouts
{% endblock %}


{% block column_1_content %}

{% endblock %}

<!-- page content here -->
{% block column_2_content %}


<p>Need a set of equal width and height cards use card decks. Buttons should be place in the cards footer so they are aligned with each other.</p>
See <a href="https://getbootstrap.com/docs/4.3/components/card/">Bootstrap cards for more info</a>
</p>

<div class="card-deck">
  <div class="card">
    <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
    </div>
     <div class="card-footer">
       <a href="#" class="btn btn-brand-secondary btn-lg">
        <span>APPLY NOW</span>
        <i class="fal fa-chevron-right"></i>
      </a>
    </div>
  </div>
  <div class="card">
    <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
     <div class="card-footer">
       <a href="#" class="btn btn-brand-secondary btn-lg">
        <span>APPLY NOW</span>
        <i class="fal fa-chevron-right"></i>
      </a>
    </div>
  </div>
  <div class="card">
    <img src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
    </div>
     <div class="card-footer">
       <a href="#" class="btn btn-brand-secondary btn-lg">
        <span>APPLY NOW</span>
        <i class="fal fa-chevron-right"></i>
      </a>
    </div>
  </div>
</div>


{% endblock %}