{% extends 'content-75_25-patterns.njk' %}
<!-- level two nav -->
{% block navLevelTwo %}
<nav class="navbar navbar-secondary" role="navigation">
  <ul class="nav navbar-nav">
    <li class="nav-breadcrumb first"> <a href="#">Patterns</a></li>
    <li class="active nav-breadcrumb second last ">
      <a>Equal Height Columns with Colour</a></li>
  </ul>
</nav>
{% endblock %}
<!-- end level two nav -->


{% block pagetitle %}
Equal Height Boxes
{% endblock %}


{% block column_1_content %}

{% endblock %}

<!-- page content here -->
{% block column_2_content %}

<style>
.so-box { background-color: green; }
</style>

<div class="row equal-height equal-height-md">
  <div class="col-sm-4  text-center">

    <div class="boxstyle_ box5">
      <i class="fa fa-4x fa fa-search"></i>
          <h2>Vacancies</h2>
          <p>On Warwick's own vacancy database, <strong>myAdvantage</strong>, we have a huge variety of jobs,
            internships and graduate positions available to help you find a unique role to suit you.</p>
      </div>
  </div>

  <div class="col-sm-4  text-center">
   <div class="boxstyle_ box5">
          <i class="fa fa-4x fa-cogs" ></i>
          <h2>Work experience</h2>
    </div>
 </div>

  <div class="col-sm-4 text-center">

    <div class="boxstyle_ box5">
      <i class="fa fa-4x fa-file" ></i>
          <h2>CVs &amp; Applications</h2>
          <p>Are your <strong>CVs, applications and cover letters</strong> on the right track? Work through our online
            resources before you send them to prospective employers.</p>
      </div>
 </div>

</div>


{% endblock %}