{% extends 'content-75_25-patterns.njk' %}

<!-- level two nav -->
{% block navLevelTwo %}
    <nav class="navbar navbar-secondary" role="navigation">
        <ul class="nav navbar-nav">
            <li class="nav-breadcrumb first">
                <a href="#">Patterns</a>
            </li>
            <li class="active nav-breadcrumb second last ">
                <a>Documents Download
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
<!-- end level two nav -->

{% block pagetitle %}
    Document Downloads
{% endblock %}

{% block column_1_content %}{% endblock %}

{% block column_2_content %}

    <div class="so-warning-text d-flex align-items-center">
        <i class="fas fa-exclamation-circle fa-2x so-warning-icon"></i>
        <span>This pattern is not in the current design system build. Use CSS below for now.</span>
    </div>

    <!-- snippet start -->
    <pre id="button-1" class="line-numbers language-markup snippet">
<code>
 <script type="prism-css-markup">
   .box-grid {
            display: grid;
            grid-template-columns: 1fr;
        }

        @media (min-width: 500px) {
            .box-grid {
                grid-template-columns: 3fr 1fr;
                align-items: center;
            }

            .box-grid > h3 {
                grid-column: 1 / 3;
                margin: 0 1em 0 0;
            }

            .box-grid > .btn {
                grid-column: 3 / 4;
            }
        }
</script>
</code>
</pre>

    <style>
        .box-grid {
            display: grid;
            grid-template-columns: 1fr;
        }

        @media (min-width: 500px) {
            .box-grid {
                grid-template-columns: 3fr 1fr;
                align-items: center;
            }

            .box-grid > h3 {
                grid-column: 1 / 3;
                margin: 0 1em 0 0;
            }

            .box-grid > .btn {
                grid-column: 3 / 4;
            }
        }
    </style>

    <div class="col-md-12">
        <div class="boxstyle_ box2 box-grid">
            <h3>Applied Linguistics</h3>
            <a class="btn btn-lg btn-brand-secondary" href="https://warwick.ac.uk/study/studyabroad/outbound/departmental-handbooks/cal_study_abroad_student_handbook_2019-20.pdf" target="_blank" rel="noopener">VIEW HANDBOOK
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="boxstyle_ box2 box-grid">
            <h3>Chemistry</h3>
            <a class="btn btn-lg btn-brand-secondary" href="https://warwick.ac.uk/facstudents/international/yearabroad/outbound/" rel="noopener">VIEW HANDBOOK
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="boxstyle_ box2 box-grid">
            <h3>Engineering</h3>
            <a class="btn btn-lg btn-brand-secondary" href="https://warwick.ac.uk/study/importantstaffinformation/bsc_international_management_year_abroad_handbook_2019_2020_1.pdf" rel="noopener">VIEW HANDBOOK
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="boxstyle_ box2 box-grid">
            <h3>English and Comparative Literary Studies</h3>
            <a class="btn btn-lg btn-brand-secondary" href="https://warwick.ac.uk/study/studyabroad/outbound/departmental-handbooks/ecls_year_abroad_handbook_2019-20.pdf" target="_blank" rel="noopener">VIEW HANDBOOK
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="boxstyle_ box2 box-grid">
            <h3>History of Art</h3>
            <a class="btn btn-lg btn-brand-secondary" href="https://warwick.ac.uk/study/importantstaffinformation/bsc_international_management_year_abroad_handbook_2019_2020_1.pdf" rel="noopener">VIEW HANDBOOK
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <section class="boxstyle_ box3">

            <h2>
                Languages-SMLC
            </h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore laborum rerum odio in facilis aspernatur veritatis neque quibusdam! Saepe quam, magnam at reiciendis tempore sed molestiae minima non quo iusto.</p>

            <div class="boxstyle_ box2 box-grid">
                <h3>Overview</h3>
                <a class="btn btn-lg btn-brand-secondary" href="https://warwick.ac.uk/study/importantstaffinformation/bsc_international_management_year_abroad_handbook_2019_2020_1.pdf" rel="noopener">VIEW HANDBOOK
                </a>
            </div>

            <div class="boxstyle_ box2 box-grid">
                <h3>French</h3>
                <a class="btn btn-lg btn-brand-secondary" href="https://warwick.ac.uk/study/importantstaffinformation/bsc_international_management_year_abroad_handbook_2019_2020_1.pdf" rel="noopener">VIEW HANDBOOK
                </a>
            </div>

            <div class="boxstyle_ box2 box-grid">
                <h3>German</h3>
                <a class="btn btn-lg btn-brand-secondary" href="https://warwick.ac.uk/study/importantstaffinformation/bsc_international_management_year_abroad_handbook_2019_2020_1.pdf" rel="noopener">VIEW HANDBOOK
                </a>
            </div>

            <div class="boxstyle_ box2 box-grid">
                <h3>Hispanic</h3>
                <a class="btn btn-lg btn-brand-secondary" href="https://warwick.ac.uk/study/importantstaffinformation/bsc_international_management_year_abroad_handbook_2019_2020_1.pdf" rel="noopener">VIEW HANDBOOK
                </a>
            </div>

            <div class="boxstyle_ box2 box-grid">
                <h3>Italian</h3>
                <a class="btn btn-lg btn-brand-secondary" href="https://warwick.ac.uk/study/importantstaffinformation/bsc_international_management_year_abroad_handbook_2019_2020_1.pdf" rel="noopener">VIEW HANDBOOK
                </a>
            </div>

        </section>
    </div>
{% endblock %}