{% extends 'content-75_25-patterns.njk' %}

<!-- level two nav -->
{% block navLevelTwo %}
<nav class="navbar navbar-secondary" role="navigation">
  <ul class="nav navbar-nav">
    <li class="nav-breadcrumb first"> <a href="#">Patterns</a></li>
    <li class="active nav-breadcrumb second last ">
      <a>Homepage Boxes</a></li>
  </ul>
</nav>
{% endblock %}
<!-- end level two nav -->


{% block pagetitle %}
Homepage Boxes
{% endblock %}

{% block column_1_content %}

{% endblock %}

{% block column_2_content %}
<style>
.hp-box {
            padding-top: 35px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }

        .hp-box:hover {
            background-color: #4d9b87; 
            color: black;
        }


.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0)
}
</style>



<div class="row equal-height">
            <div class="col-md-4">
                <div class="box hp-box boxstyle_ box5">
                    <i class="fa fa-4x fa-sun-o"></i>
                    <h2> <a class="stretched-link" href="https://warwick.ac.uk/about/community/volunteers/volunteering/">Volunteer</a></h2>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box hp-box boxstyle_ box5">
                    <i class="fa fa-4x fa-sun-o"></i>
                    <h2> <a class="stretched-link" href="https://warwick.ac.uk/about/community/volunteers/volunteering/">Volunteer</a></h2>
                     <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box hp-box boxstyle_ box5">
                    <i class="fa fa-4x fa-sun-o"></i>
                    <h2> <a class="stretched-link" href="https://warwick.ac.uk/about/community/volunteers/volunteering/">Volunteer</a></h2>
                     <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos</p>
                </div>
            </div>

             {# <div class="col-md-4">
                <div class="box hp-box boxstyle_ box5">
                    <i class="fa fa-4x fa-cogs"></i>
                    <h2><a class="stretched-link" href="https://warwick.ac.uk/about/community/volunteers/resources/">Volunteer resources</a>
                    </h2>
                    <p>Information and resources for volunteers</p>
                </div>
            </div> #}
</div>

<div class="so-warning-text d-flex align-items-center">
    <i class="fas fa-exclamation-circle fa-2x so-warning-icon"></i> 
    <span>This pattern is not in the current design system build. Use CSS below.</span>
</div>

<!-- snippet start -->
<pre id="button-1" class="line-numbers language-markup snippet">
<code>
 <script type="prism-css-markup">
.hp-box {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.hp-box:hover {
    background-color: #4d9b87; 
    color: black;
}
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0)
}
</script>
</code>
</pre>
<button class="btn btn-default" data-clipboard-target="#button-1">Copy snippet <i class="fal fa-copy"></i></button>

<!-- snippet start -->
<pre id="button-2" class="line-numbers language-markup snippet">
<code>
 <script type="prism-HTML-markup">
       <div class="row equal-height">
            <div class="col-md-4">
                <div class="box hp-box boxstyle_ box5">
                    <i class="fa fa-4x fa-sun-o"></i>
                    <h2 class="text-center"> <a class="stretched-link" href="https://warwick.ac.uk/about/community/volunteers/volunteering/">Volunteer</a></h2>
                    <p class="text-center">Join Warwick Volunteers</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box hp-box boxstyle_ box5">
                    <i class="fa fa-4x fa-cogs"></i>
                    <h2 class="text-center"><a href="https://warwick.ac.uk/about/community/volunteers/resources/">Volunteer resources</a>
                    </h2>
                    <p class="text-center">Information and resources for volunteers</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box hp-box boxstyle_ box5">
                    <i class="fa fa-4x fa-users"></i>
                    <h2><a href="https://warwick.ac.uk/about/community/volunteers/community/">Recruit volunteers</a>
                    </h2>
                    <p>Recruit volunteers to support your organisation or school</p>
                </div>
            </div>


            <div class="col-md-4">
                <div class="box hp-box boxstyle_ box5">
                    <i class="fa fa-4x fa-users"></i>
                    <h2><a href="https://warwick.ac.uk/about/community/volunteers/community/">Recruit volunteers</a>
                    </h2>
                    <p>Recruit volunteers to support your organisation or school</p>
                </div>
            </div>

        </div>
</script>
</code>
</pre>
<button class="btn btn-default" data-clipboard-target="#button-2">Copy snippet <i class="fal fa-copy"></i></button>


{% endblock %}