{% extends 'content-75_25-patterns.njk' %}
<!-- level two nav -->
{% block navLevelTwo %}
<nav class="navbar navbar-secondary" role="navigation">
  <ul class="nav navbar-nav">
    <li class="nav-breadcrumb first"> <a href="#">Patterns</a></li>
    <li class="active nav-breadcrumb second last ">
      <a>Patterns</a></li>
  </ul>
</nav>
{% endblock %}
<!-- end level two nav -->


{% block pagetitle %}
Patterns
{% endblock %}


{% block column_1_content %}

{% endblock %}

<!-- page content here -->
{% block column_2_content %}


<p>Patterns are best practice design solutions for specific user-focused tasks and page&nbsp;types.</p>
<p>All of the patterns in this section are supported by written guidance and contain coded examples where possible.</p>
<p>Patterns often use one or more <a href="/components/components.html">components</a> and explain how to adapt them tothe&nbsp;context.</p>



{% endblock %}