{% extends 'content-75_25-utils.njk' %}

<!-- level two nav -->
{% block navLevelTwo %}
<nav class="navbar navbar-secondary" role="navigation">
  <ul class="nav navbar-nav">
    <li class="nav-breadcrumb first"> <a href="#">Utilities</a></li>
    <li class="active nav-breadcrumb second last ">
      <a>Flexbox</a></li>
  </ul>
</nav>
{% endblock %}
<!-- end level two nav -->


{% block pagetitle %}
Flexbox
{% endblock %}

{% block column_1_content %}

{% endblock %}

{% block column_2_content %}

<p>
Should you need to add display: flex to an element, do so with .d-flex or one of the responsive variants (e.g., .d-sm-flex). You’ll need this class or display value to allow the use of our extra flexbox utilities for sizing, alignment, spacing, and more. </p>

<p><a href="https://getbootstrap.com/docs/4.3/utilities/flex/">See Bootstrap Docs for more info</a> </p>

<div class="d-flex flex-row so-bd-highlight-green mb-3">
  <div class="p-2 so-bd-highlight-green">Flex item 1</div>
  <div class="p-2 so-bd-highlight-green">Flex item 2</div>
  <div class="p-2 so-bd-highlight-green">Flex item 3</div>
</div>
<div class="d-flex flex-row-reverse bd-highlight">
  <div class="p-2 so-bd-highlight-green">Flex item 1</div>
  <div class="p-2 so-bd-highlight-green">Flex item 2</div>
  <div class="p-2 so-bd-highlight-green">Flex item 3</div>
</div>






{% endblock %}

