<nav class="app-subnav">

  <ul class="app-subnav__section">

    <li class="app-subnav__section-item">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state"
        href="/patterns/confirmation-pages/">Confirmation pages</a>

    </li>


    <li class="app-subnav__section-item">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/question-pages/">FAQ Question
        pages</a>

    </li>


    <li class="app-subnav__section-item">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/start-pages/">Start pages</a>

    </li>

    <li class="app-subnav__section-item">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/step-by-step-navigation/">Step
        by step navigation</a>

    </li>

    <li class="app-subnav__section-item app-subnav__section-item--current">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/task-list-pages/">Task list
        pages</a>

    </li>

  </ul>






</nav>