<nav class="app-subnav">

  <ul class="app-subnav__section">

    <li class="app-subnav__section-item">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state"
        href="/patterns/equal-height-boxes.html">Equal height Boxes</a>

    </li>


    


    <li class="app-subnav__section-item">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/step-by-step-navigation/">Step
        by step navigation</a>

    </li>


  </ul>






</nav>