<nav class="app-subnav">

  <ul class="app-subnav__section">

    <li class="app-subnav__section-item">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/card-layouts.html">Card layouts</a>
    </li>

    <li class="app-subnav__section-item">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/homepage-boxes.html">Homepage Boxes</a>
    </li>
    <li class="app-subnav__section-item">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/boxes-with-buttons.html">Boxes with aligned buttons</a>
    </li>
    <li class="app-subnav__section-item">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/feeds.html">Feeds / Event Listing</a>
    </li>
    <li class="app-subnav__section-item">
      <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/handbooks-list.html">Document Downloads</a>
    </li>

  </ul>

</nav>