<div class="id7-navigation">
  <nav class="navbar navbar-primary hidden-xs" role="navigation">
    <ul class="nav navbar-nav">
      <li class="first protected">
        <a href="/getting-started/getting-started.html">Get started</a>
      </li>
      <li> <a href="/styles/styles.html">Styles</a>

      </li>
      <li class="dropdown protected" data-lastmodified="1566461359489">
       <a
          href="/components/components.html" data-page-url="/components/components.html"
          data-toggle="dropdown" aria-haspopup="true">Components</a>
        <ul class="dropdown-menu" role="menu">
          <li class="protected" data-lastmodified="1566996285838" role="menuitem"> <a
              href="/components/accordion.html"
              data-page-url="#">Accordion</a> </li>
          <li class="protected" data-lastmodified="1565096204264" role="menuitem"> <a
              href="#"
              data-page-url="#"> Buttons </a>
          </li>
              <li class="protected" data-lastmodified="1566389434411" role="menuitem"> <a
              href="#"
              data-page-url="/components/buttons.html"> Details </a> </li>
   
        </ul>
      </li>
      <li> <a href="/patterns/patterns.html">Patterns</a>
      </li>
    </ul>
  </nav>
  {% block navLevelTwo %}{% endblock %}