<div class="id7-navigation">
<nav class="navbar navbar-primary hidden-xs" role="navigation">
  <ul class="nav navbar-nav">
    <li class="first protected">
      <a href="/getting-started/getting-started.html">Get started</a>
    </li>
    <li> <a href="/styles/styles.html">Styles</a>
    </li>
    <li> <a href="/components/components.html">Components</a>
    </li>
    <li> <a href="/patterns/patterns.html">Patterns</a>
    </li>
  </ul>
</nav>
{% block navLevelTwo %}{% endblock %}