{% extends 'content-75_25-components.njk' %}
<!-- level two nav -->
{% block navLevelTwo %}
<nav class="navbar navbar-secondary" role="navigation">
  <ul class="nav navbar-nav">
    <li class="nav-breadcrumb first" > <a
        href="#">Components</a></li>
    <li class="active nav-breadcrumb second last " >
    <a>Accordian</a></li>
  </ul>
</nav>
{% endblock %}
<!-- end level two nav -->


{% block pagetitle %}
Accordian
{% endblock %}

{% block column_1_content %}

{% endblock %}

{% block column_2_content %}
<br>

<div class="panel-group so-accordion" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" id="headingOne" role="tab">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse"
                data-parent="#accordion" href="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">Visa information<i
                        class="pull-right fa fa-plus"></i></a>
        </h4>
    </div>
    <div class="panel-collapse collapse" id="collapseOne" role="tabpanel"
          aria-labelledby="headingOne">
        <div class="panel-body pxlr-faq-body">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia
                aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you
                probably
                haven't heard of them accusamus labore sustainable VHS.</p>
        </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" id="headingTwo" role="tab">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse"
                data-parent="#accordion" href="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">How to
                have an editor like <i
                        class="pull-right fa fa-plus"></i></a>
        </h4>
    </div>
    <div class="panel-collapse collapse" id="collapseTwo" role="tabpanel"
          aria-labelledby="headingTwo">
        <div class="panel-body pxlr-faq-body">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia
                aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you
                probably
                haven't heard of them accusamus labore sustainable VHS.</p>
        </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" id="headingThree" role="tab">
        <h4 class="panel-title"><a class="collapsed" role="button"
                                    data-toggle="collapse"
                                    data-parent="#accordion"
                                    href="#collapseThree"
                                    aria-expanded="false"
                                    aria-controls="collapseThree">Problem
                with Knowledge base <i
                        class="pull-right fa fa-plus"></i></a></h4>
    </div>
    <div class="panel-collapse collapse" id="collapseThree" role="tabpanel"
          aria-labelledby="headingThree">
        <div class="panel-body pxlr-faq-body">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia
                aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you
                probably
                haven't heard of them accusamus labore sustainable VHS.</p>
        </div>
    </div>
  </div>
</div>

<br>
<p>
The accordion component lets users show and hide sections of related content on a page.
</p>

<h4>When to use this component</h4>

<p>Only use an accordion if there’s evidence it’s helpful for users to:</p>

<ul>
<li>see an overview of multiple, related sections of content</li>
<li>show and hide those sections as needed</li>
</ul>

<hr>

<h4> When not to use this component </h4>

<p>Accordions hide content from users and not everyone will notice them or understand how they work. For this reason do not use an accordion for content which is essential to all users.</p>

<p>Test your content without an accordion first. Consider if it’s better to:</p>

<ul>
<li>simplify and reduce the amount of content</li>
<li>split the content across multiple pages</li>
<li>keep the content on a single page, separated by headings</li>
<li>use a list of links to let users navigate quickly to specific sections of content</li>
</ul>

<p>
<a href="components/tabs.html"> Tabs </a> may work better for users who need to switch quickly between 2 sections. Accordions push other sections down the page when they open, but tabs do not move which makes it easier to switch.
</p>

<h5> Use clear labels </h5>
Accordions hide content, so the labels need to be clear. If necessary, you can add a summary line to help users understand what is in the section.

<hr>





{% endblock %}
